@charset "UTF-8";

body{
	font-size: 62.5%;
	font-family: Meiryo, 'メイリオ', helvetica, Arial, sans-serif;
	width: 100%;
	height: 100%;
}

h2{
	font-size: 2.8em;
}

p{
	font-size: 1.6em;
}

ul li{
	font-size: 1.6em;
}

img{
	border: 1px solid #999;
}

/*---------------------
管理画面
-----------------------*/
#branch{
	width: 410px;
	height: 50px;
	border: 1px solid #666;
}

#branch ul{
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
}

#branch ul li{
	float: left;
	position: relative;
	top: 0;
	left: 0;
	width: 200px;
	height: 50px;
	margin-right: 10px;
	text-align: center;
	line-height: 50px;
	background-color: #ccc;
}

#branch ul li + li{
	margin-right: 0;
}

#branch ul li a{
	display: block;
	width: 200px;
	height: 50px;
	text-decoration: none;
	color: #fff;
}

#branch ul li.staff{
	background-color: red;
}

#branch ul li.staff a:hover{
	background-color: pink;
}

#branch ul li.product{
	background-color: blue;
}

#branch ul li.product a:hover{
	background-color: lightblue;
}

/*---------------------
商品画面
-----------------------*/
#curt{
	width: 200px;
	height: 30px;
	background-color: orange;
	font-size: 1.6em;
	line-height: 30px;
	text-align: center;
}

#curt a{
	display: block;
	width: 200px;
	height: 30px;
	text-decoration: none;
	color: #fff;
}

/* cart_look.php */
table#cart_look{
	border-collapse: collapse;
}

table#cart_look tr{}

table#cart_look tr td{
	padding: 5px;
	border: 1px solid #333;
	text-align: center;
}

table#cart_look tr td img{
	width: 50%;
	height: 50%;
	border: none;
}
